@tailwind base;
@tailwind components;
@tailwind utilities;

body {

}
 thead{
    position: sticky;
    top: 0px;
    margin: 0 0 0 0;
}
h1 {
  @apply text-5xl prose-2xl prose-invert;
}
.stl{
  position: absolute;
  inset: 0px auto auto 0px;
  margin: 0px; transform: translate3d(0px, 221px, 0px)
}
